.search {
  width: 50%;
  max-width: 600px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: 16.5px;
  padding: 0 1rem;
  input {
    width: 100%;
    padding: 1.5rem 1rem;
    background: none;
    border: none;
    color: inherit;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border: none;
      transition: background-color 5000s;
      -webkit-text-fill-color: var(--white) !important;
    }
  }

  img {
    cursor: pointer;
    width: 22px;
    height: 22px;
    filter: invert(43%);
    transition: filter 0.3s ease-in-out;
  }
}
