//? Container
.container {
  max-width: 1400px;
  padding: 0 4rem;
  margin: auto;
}

//? Button
.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  &-pink {
    background: #eb4d4b;
    color: var(--white);
  }
  &-blue {
    background: #4b76eb;
    color: var(--white);
  }
}

//? Flex
.display-flex {
  display: flex;
}

.flex {
  &-wrap {
    flex-wrap: wrap;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }

  &-justify {
    &-center {
      justify-content: center;
    }
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
  }

  &-align {
    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
  }

  &-d {
    &-col {
      flex-direction: column;
    }
    &-raw {
      flex-direction: raw;
    }
  }
}

//? Padding
.pd {
  @for $var from 0 to 5 {
    &-#{$var} {
      padding: #{$var}rem;
    }
    &-x-#{$var} {
      padding: 0 #{$var}rem;
    }

    &-y-#{$var} {
      padding: #{$var}rem 0;
    }
  }
}

//? Margin
.mg {
  @for $var from 0 to 5 {
    &-#{$var} {
      margin: #{$var}rem;
    }
    &-x-#{$var} {
      margin: 0 #{$var}rem;
    }

    &-y-#{$var} {
      margin: #{$var}rem 0;
    }

    &-tp-#{$var} {
      margin-top: #{$var}rem;
    }
    &-r-#{$var} {
      margin-right: #{$var}rem;
    }
  }
}
