:root {
  --text-color: #24292e;
  --black: #000000;
  --white: #ffffff;
  --background-drak: #1e272e;
  --background-light: #ecf0f1;
  --text-color-drak: #ffffff;
  --font-family-nunito: "Nunito", sans-serif;
  --box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
